/*! CSS Used from: https://tailwindui.com/v2-assets/compiled.css?hash=a8623f321f1df0aa18324e6429a419fc */
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}
::before,
::after {
  --tw-content: "";
}
a {
  color: inherit;
  text-decoration: inherit;
}
button {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button {
  text-transform: none;
}
button,
[type="button"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg {
  display: block;
  vertical-align: middle;
}
img {
  max-width: 100%;
  height: auto;
}

.t {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.aa {
  position: absolute;
}
.ab {
  position: relative;
}
.ac {
  position: sticky;
}
.ak {
  inset: 0px;
}
.dn {
  top: 0px;
}
.ej {
  z-index: 40;
}
.ft {
  margin: -0.625rem;
}
.ga {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.ge {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.lb {
  margin-top: 0.5rem;
}
.lp {
  margin-top: auto;
}
.lx {
  display: flex;
}
.md {
  display: none;
}
.nl {
  height: 4rem;
}
.oc {
  height: 1.5rem;
}
.og {
  height: 2rem;
}
.oy {
  height: 640px;
}
.ph {
  height: 100%;
}
.se {
  width: 1.5rem;
}
.sj {
  width: 2rem;
}
.tm {
  width: auto;
}
.tn {
  width: 100%;
}
.um {
  flex: 1 1 0%;
}
.ur {
  flex-shrink: 0;
}
.ut {
  flex-grow: 1;
}
.yr {
  flex-direction: column;
}
.yz {
  align-items: center;
}
.ze {
  justify-content: center;
}
.aaf {
  -moz-column-gap: 0.75rem;
  column-gap: 0.75rem;
}
.aag {
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
.aai {
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
}
.aat {
  row-gap: 1.25rem;
}
.aav {
  row-gap: 1.75rem;
}
.abo > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.adg {
  overflow: hidden;
}
.adj {
  overflow-y: auto;
}
.adl {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ads {
  border-radius: 9999px;
}
.adt {
  border-radius: 0.5rem;
}
.adu {
  border-radius: 0.375rem;
}
.adx {
  border-radius: 0.75rem;
}
.aez {
  border-width: 1px;
}
.afp {
  border-style: dashed;
}
.afw {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}
.agf {
  --tw-border-opacity: 1;
  border-color: rgb(129 140 248 / var(--tw-border-opacity));
}
.ajp {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
}
.ajr {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}
.ajt {
  --tw-bg-opacity: 1;
  background-color: rgb(67 56 202 / var(--tw-bg-opacity));
}
.alo {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.apm {
  stroke: rgb(17 24 39 / 0.1);
}
.aqq {
  padding: 0.5rem;
}
.aqr {
  padding: 0.625rem;
}
.ari {
  padding-left: 1rem;
  padding-right: 1rem;
}
.ark {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.arr {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.arz {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.asc {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.avw {
  font-size: 0.625rem;
}
.awa {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.awc {
  font-size: 0.75rem;
  line-height: 1rem;
}
.awe {
  font-weight: 500;
}
.awg {
  font-weight: 600;
}
.awp {
  line-height: 1.5rem;
}
.ayc {
  --tw-text-opacity: 1;
  color: rgb(199 210 254 / var(--tw-text-opacity));
}
.bah {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.bbe {
  opacity: 0.75;
}
.bbn {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.biv:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(67 56 202 / var(--tw-bg-opacity));
}
.blu:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.bqg:hover .bsb {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 640px) {
  .cfc {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .cqd {
    position: fixed;
  }
  .cqk {
    top: 0px;
    bottom: 0px;
  }
  .crr {
    z-index: 50;
  }
  .cuy {
    display: flex;
  }
  .cvc {
    display: none;
  }
  .cwt {
    width: 18rem;
  }
  .czd {
    flex-direction: column;
  }
  .ddh {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .des {
    padding-left: 18rem;
  }
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}
.jx {
  margin-left: 1rem;
}
.nz {
  height: 1.25rem;
}
.sb {
  width: 1.25rem;
}
.up {
  flex-shrink: 0;
}
.abj > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.axp {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.axr {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.bkx:hover {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.bkz:hover {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
